@import "tailwindcss";

.layout {
  background-image: url("/images/auth/pattern-background.svg");

  min-height: 100dvh;
}

.register-img {
  grid-area: image;
  background-image: url("/images/bg-post-its.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  padding-bottom: calc(100dvh * 0.25);
}

.register-container {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "form";
  /* height: calc(100dvh - 4rem); */
}

@media (width>=64rem) {
  .register-container {
    display: grid;
    grid-template-columns: 6fr 7fr;
    grid-template-areas: "form image";
    margin: 0;
  }
}
